@model List<Employee>
    <!DOCTYPE html>
    <html>
    <head>
        <title>title</title>
    </head>
    <body> 
    <table class="table table-striped">
        <thead>
        <tr>
            <th>EmployeeType </th>
            <th>Id</th>
            <th>Login</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Phone1</th>
            <th>Phone2</th>
            <th>Phone3</th>
           
        </tr>
        </thead>
        <tbody>
        @foreach (var a in @Model)
        {
            <tr>
                <td>@a.EmployeeType</td>
                <td>@a.Id</td>
                <td>@a.Login</td>
                <td>@a.FirstName</td>
                <td>@a.LastName</td>
                <td>@a.Email</td>
                <td>@a.Gender</td>
                <td>@a.Phone1</td>
                <td>@a.Phone2</td>
                <td>@a.Phone3</td>
                
            </tr>
        }
        </tbody>
    </table>

    </body>

</html>
